html {
  margin: 0;
  overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    color: black;
    background-color: lightblue;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.7;
}

#landing_page {
    color: white;
    text-align: center;
    position: relative;
    outline: 2px solid red;
    height: 100vh;
    top: 0;
    overflow: hidden;

    background-color: rgba(87, 70, 9, 0.228);
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#landing_page video {
    position: absolute;
    object-position: center, center;
    z-index: -1;
    
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#title_content {
    background-color: rgb(0,0,0, 0.35);
    min-width: 30%;
    font-size: x-large;
}

#projects_page {
    color: black;
    text-align: center;
    padding: 30px;
    position: relative;
    
    outline: 2px solid red;
    height: 30vh;
}

#about_page {
    color: black;
    text-align: center;
    padding: 30px;
    position: relative;
    
    outline: 2px solid red;
    height: 30vh;
}

#experience_timeline {
    color: black;
    text-align: center;
    padding: 30px;
    position: relative;
    
    outline: 2px solid red;
    height: 30vh;
}

#contact_page {
    color: black;
    text-align: center;
    padding: 30px;
    position: relative;
    
    outline: 2px solid red;
    height: 30vh;
}

footer {
    color: black;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}



